html body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.05)
}

[v-cloak] {
    display: none;

}

#nav_headportrait {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 40px;
    left: 20px;
}

/*个人信息*/
#userInfo_div {
    display: none;
    position: fixed;
    width: 240px;
    height: 200px;
    background: rgba(0, 0, 0, 0.54);
    z-index: 19;
    top: 51px;
    right: 5%;
    border-radius: 8px;
}

#userInfo_div_personal_details {
    position: absolute;
    width: 100%;
    height: 40px;
    /*background: red;*/
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    color: white;
}

#userInfo_div_ul {
    width: 80%;
    padding: 0;
    margin: 55px 10%;
    list-style: none;
    color: white;
    display: none;
}

#userInfo_div_ul li {
    margin-top: 5px;
    cursor: pointer;
}

#userInfo_div_ul li:hover {
    opacity: 0.4;
}

.userInfo_item {
    width: 100%;
    height: 30px;
    /*background: red;*/
    font-size: 15px;
    line-height: 30px;
    padding-left: 4px;
}

#userInfo_div_cutoffrule {
    position: absolute;
    bottom: 50px;
    margin-left: 10%;
    width: 80%;
    height: 1px;
    background: white;
    opacity: 0.7;
}

/*退出*/
#quit {
    position: absolute;
    width: 47px;
    height: 30px;
    bottom: 10px;
    right: 10%;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: white;
}

#quit:hover {
    opacity: 0.6;
}

/*NAV背景*/
.navbar-default {
    background: rgba(0, 0, 0, 0.74)
}

#uploadImage {
    display: none;
}

#float_div {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

#float_div_content {
    position: relative;
    width: 300px;
    height: 350px;
    background: white;
    margin: auto
}

/*注册*/
#signin_div {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none
}

/*登录*/
#login_div {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none
}

#alter_div {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none
}

/*没有账号 忘记密码*/
#no_signin_div {
    width: 80%;
    height: 45px;
    margin: 10px 10%;
    font-size: 14px;
    line-height: 45px;
}

/*还没账号*/
#no_signin {
    float: left;
    margin-left: 5px;
    cursor: pointer;
}

#no_signin:hover {
    opacity: 0.6;
}

/*忘记密码*/
#forget_pwd {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

#forget_pwd:hover {
    opacity: 0.6;
}

/*登录注册Tit*/
#signin_Tit, #login_Tit, #alter_Tit {
    width: 80%;
    height: 45px;
    background: none;
    margin: 10px 10%;
    font-size: 18px;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
}

/*输入框*/
.account_input {
    outline: none;
    color: black;
    width: 80%;
    height: 45px;
    margin: 10px 10%;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5)
}

/*登录 注册按钮*/
#signin_btn, #login_btn, #alter_btn {
    outline: none;
    width: 80%;
    height: 45px;
    background: rgba(0, 0, 0, 0.74);
    color: white;
    margin: 10px 10%;
    border: 0
}

#signin_btn:hover {
    background: rgba(0, 0, 0, 0.55);
}

#login_btn:hover {
    background: rgba(0, 0, 0, 0.55);
}

#alter_btn:hover {
    background: rgba(0, 0, 0, 0.55);
}

/*首页*/
#nav_home {
    margin-left: 15px;
    line-height: 50px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

/*tit_item*/
.navbar_item_div {
    margin-left: 40px;
    line-height: 50px;
    color: white;
    cursor: pointer;
}

.navbar_item_div:hover {
    opacity: 0.4;
}

/*搜索框*/
.search_text {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 40px;
    padding-left: 15px;
    border-radius: 20px;
    outline: none;
    border: 0;
}

/*搜索按钮*/
.search_btn {
    position: relative;
    width: 30px;
    height: 30px;
    left: -40px;
    opacity: 0.8;
    cursor: pointer;
}

.search_btn:hover {
    opacity: 0.5;
}

/*主题内容*/
#content {
    position: relative;
    width: 90%;
    height: 87%;
    top: 20px;
    z-index: 10;
}

/*左侧*/
#content_left {
    position: absolute;
    width: 69%;
    height: auto;
    margin-bottom: 40px;
    border-radius: 5px;
    background: rgba(40, 39, 33, 0.16);
    z-index: 20;
}

/*中间*/
#content_mid {
    display: none;
    position: absolute;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 40px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(40, 39, 33, 0.16);
    z-index: 20000;
}

/*随心记*/
#edit_div {
    position: relative;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

/*左侧显示列表*/
#edit_left_div {
    display: none;
    position: absolute;
    width: 17.5%;
    height: 100%;
    overflow-y: auto;
}

/*个人博客条目*/
#userBlogItem {
    width: 100%;
    background: rgba(245, 245, 245, 0.99);
    height: auto;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#userBlogItem:hover {
    background: rgba(40, 39, 33, 0.16);
}

#userBlogItem:hover #userBlogItem_Delete {
    display: block;
}

#userBlogItem_top {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold
}

#userBlogItem_Tit {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 30px;
    background: none;
    overflow: hidden
}

#userBlogItem_Btn {
    height: 30px;
    left: 50%;
    position: absolute;
    display: inline-block;
    width: 50%;
    background: none;
    overflow: hidden
}

#userBlogItem_Delete {
    display: none;
    outline: none;
    border: 0;
    background: transparent;
    /*float: right;*/
    right: 10px;
    position: absolute;
    margin: 4px;
    width: 22px;
    height: 22px;
    background-size: 100% 100%;
    opacity: 0.8;
    background-image: url("../img/delete.png");
}

#userBlogItem_Delete:hover {
    opacity: 0.3;
}

#userBlogItem_Time {
    font-size: 12px
}

#userBlogItem_Content {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden
}

/*分割线*/
#edit_mid_cutoffrule {
    position: absolute;
    width: 0.5%;
    height: 100%;
    left: 17.5%;
    display: none;
    background: rgba(40, 39, 33, 0.16);
}

/*编辑器*/
#edit_right_div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
}

#edit_savedetails_div:hover {
    opacity: 1;
}

#edit_save_Btn {
    position: absolute;
    display: none;
    cursor: pointer;
    color: rgba(69, 69, 69, 0.87);
}

#edit_saveInfo_div {
    position: relative;
    width: 90%;
    height: 60px;
    /*display: none;*/
    margin-left: 5%;
    margin-top: -60px;
    z-index: 10;
    background: rgb(221, 221, 221);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /*padding: 10px;*/
}

/*iframe 编辑*/
#edit {
    width: 100%;
    height: 100%;
    border: 0;
}

/*博客条目*/
#content_left_item {
    width: 94%;
    margin: 15px 3%;
    height: auto;
}

/*博客标题*/
#content_left_item_Tit {
    width: 60%;
    height: auto;
    margin-left: 20px;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

/*博客标题*/
#content_left_item_Tit_span {
    cursor: pointer;
}

#content_left_item_Tit_span:hover {
    color: #d206fa;
}

/*博客分类*/
#content_left_item_classify {
    top: -30px;
    position: relative;
    cursor: pointer;
}

/*博客底部作者 时间等*/
#content_left_item_bottom {
    width: 100%;
    height: auto;
    margin-top: -20px;
    padding-left: 20px;
    line-height: 30px;
    opacity: 0.7;
}

.content_left_item_bottom {
    display: inline-block;
}

.content_left_item_bottm_right {
    margin-right: 20px;
}

/*作者*/
#author {
    cursor: pointer;
}

#author:hover {
    color: #d206fa;
}

/*收藏*/
#collect:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*右侧*/
#content_right {
    display: none;
    position: relative;
    width: 30%;
    height: 100%;
    margin-left: 70%;
    border-radius: 5px;
    background: tan;
}

/*加载更多 底部*/
#load_item {
    width: 94%;
    height: 40px;
    margin-top: 15px;
    margin-left: 3%;
    margin-bottom: 20px;
    line-height: 40px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgba(190, 190, 190, 0.36));
    background: -o-linear-gradient(rgb(255, 255, 255), rgba(190, 190, 190, 0.36));
    background: -moz-linear-gradient(rgb(255, 255, 255), rgba(190, 190, 190, 0.36));
    background: linear-gradient(rgb(255, 255, 255), rgba(190, 190, 190, 0.36));
}

#load_item:hover {
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgba(190, 190, 190, 0.76));
    background: -o-linear-gradient(rgb(255, 255, 255), rgba(190, 190, 190, 0.76));
    background: -moz-linear-gradient(rgb(255, 255, 255), rgba(190, 190, 190, 0.76));
    background: linear-gradient(rgb(255, 255, 255), rgba(190, 190, 190, 0.76));
}

/*底部文字*/
#load_item_text {
    position: relative;
    width: auto;
    height: 40px;
    top: -14px;
    font-size: 16px;
    cursor: pointer;
}

#edit_saveInfo_content {
    width: 99%;
    height: 100%;
    background: none;
    margin: auto;
}

#edit_text {
    background: #e7e7e7;
    outline: none;
    border: 0;
    font-size: 16px;
    text-align: center;
    width: 20%;
    height: 40px
}

#edit_classify {
    position: absolute;
    width: 65.5%;
    height: 40px;
    background: #e7e7e7;
    overflow-y: auto;
}

#edit_classify_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.edit_classify_ul_li {
    position: relative;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 3px;
    margin-left: 3px;
}

.edit_classify_ul_li div {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #a1a1a1;
    margin-top: 5px;
    cursor: pointer;
    background: white;
}

#edit_Btn_div1 {
    position: absolute;
    width: 10%;
    height: 40px;
    left: 89.5%
}

#edit_Btn_div2 {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 2.5px;
    background: darkgrey;
    border-radius: 20px
}

#edit_upBtn {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: auto;
    text-align: center;
    position: relative;
    width: 50px;
    height: 12px;
    background: rgb(221, 221, 221);
    top: -12px;
    line-height: 10px;
}

#edit_upBtn:hover {
    opacity: 0.7;
    cursor: pointer;
}

#edit_upBtn button {
    background-size: 100% 100%;
    background: transparent;
    border: 0;
    width: 16px;
    height: 10px;
    outline: none;
    background-image: url('../img/up.png')
}

.edit_Btn_Item {
    position: absolute;
    width: 48%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.edit_Btn_Item:hover {
    opacity: 0.4;
}

.edit_Btn_Lin {
    position: absolute;
    width: 1%;
    height: 35px;
    background: rgba(121, 121, 121, 0.8);
    left: 49.5%
}

/*回到顶部*/
#top {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    opacity: 0.8;
    background-size: 100% 100%;
    background-image: url('../img/top.png');
    z-index: 1000;
}

#top:hover {
    opacity: 0.6;
}

/*滚动条*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    /*background-color: red;*/
    opacity: 0.1;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.72);
    background-color: rgba(31, 43, 54, 0.11);
}
