<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanyu.mapper.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.fanyu.model.Blog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="state_id" property="stateId" jdbcType="INTEGER" />
    <result column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="readcount" property="readcount" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="releasedate" property="releasedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ViewResultMap" type="com.fanyu.model.Blog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="state_id" property="stateId" jdbcType="INTEGER" />
    <result column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="readcount" property="readcount" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="releasedate" property="releasedate" jdbcType="TIMESTAMP" />
    <association property="user" javaType="com.fanyu.model.User">
      <id property="id" column="id"/>
      <result property="username" column="username"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, category_id, state_id, content_id, title, readcount, comment, modifydate, 
    releasedate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" resultMap="ViewResultMap">
      SELECT b.id, b.content_id, b.title, b.readcount, b.comment, b.modifydate, b.releasedate, u.username
      FROM blog b where user_id=#{userId}
      LEFT JOIN user u ON b.user_id = u.id
      ORDER BY id DESC
      LIMIT #{offset},#{limit}
  </select>
  <select id="selectByLimit" resultMap="ViewResultMap">
    SELECT b.id, b.content_id, b.title, b.readcount, b.comment, b.modifydate, b.releasedate, u.username
    FROM blog b
	LEFT JOIN user u ON b.user_id = u.id
    ORDER BY id DESC
    LIMIT #{offset},#{limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fanyu.model.Blog" >
    insert into blog (id, user_id, category_id, 
      state_id, content_id, title, 
      readcount, comment, modifydate, 
      releasedate)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{stateId,jdbcType=INTEGER}, #{contentId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{readcount,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{releasedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fanyu.model.Blog" >
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="stateId != null" >
        state_id,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="readcount != null" >
        readcount,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
      <if test="releasedate != null" >
        releasedate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="stateId != null" >
        #{stateId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="readcount != null" >
        #{readcount,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="releasedate != null" >
        #{releasedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyu.model.Blog" >
    update blog
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="stateId != null" >
        state_id = #{stateId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="readcount != null" >
        readcount = #{readcount,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="releasedate != null" >
        releasedate = #{releasedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanyu.model.Blog" >
    update blog
    set user_id = #{userId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      state_id = #{stateId,jdbcType=INTEGER},
      content_id = #{contentId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      readcount = #{readcount,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      releasedate = #{releasedate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>